


<!--
<div class="card mx-auto" style="width: 18rem;">
    <img src="/home/mario/Escritorio/usuario.jpg" class="card-img-top" alt="Responsive image">
    <div class="card-body">
        <form (submit)="SignUp()">
            <div class="form-group">
                <input type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required autofocus>
            </div>
            <div class="form-group">
                <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password" required>
            </div>
            <button class="btn btn-primary btn-block">
                SignUp
            </button>
        </form>
    </div>
  </div>-->


<div class="container p-5" >
    <div class="col-md-4 mx-auto">
        <div class="card" >
            <div class="card-header text-center">
                Sign Up
            </div>

            
          
            <img src="../../../assets/registrar.png" class="card-img-top" alt="Registro de usuario">

            <div class="card-body">
                <form (submit)="SignUp()">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.nombreu" name="nombre" class="form-control" placeholder="Nombre" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.apellidou" name="apellido" class="form-control" placeholder="Apellido" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.nacimientou" name="fechanacimiento" class="form-control" placeholder="Fecha de nacimiento" required autofocus>
                    </div>

                
                    <div class="form-group">
                        <select class="form-control" type="text" [(ngModel)]="user.paisu" name="pais" required autofocus >
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais" class="form-control" placeholder="Pais" required autofocus>Guatemala</option>
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais2" class="form-control" placeholder="Pais" required autofocus>Canada</option>
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais2" class="form-control" placeholder="Pais" required autofocus>Alaska</option>
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais3" class="form-control" placeholder="Pais" required autofocus>EE.UU</option>
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais4" class="form-control" placeholder="Pais" required autofocus>Mexico</option>
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais5" class="form-control" placeholder="Pais" required autofocus>El Salvador</option>
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais6" class="form-control" placeholder="Pais" required autofocus>Honduras</option>
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais7" class="form-control" placeholder="Pais" required autofocus>Nicaragua</option>
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais8" class="form-control" placeholder="Pais" required autofocus>Costa Rica</option>
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais9" class="form-control" placeholder="Pais" required autofocus>Panama</option>
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais10" class="form-control" placeholder="Pais" required autofocus>Colombia</option>
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais11" class="form-control" placeholder="Pais" required autofocus>Venezuela</option>
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais12" class="form-control" placeholder="Pais" required autofocus>Peru</option>
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais13" class="form-control" placeholder="Pais" required autofocus>Bolivia</option>
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais14" class="form-control" placeholder="Pais" required autofocus>Ecuador</option>
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais15" class="form-control" placeholder="Pais" required autofocus>Brazil</option>
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais16" class="form-control" placeholder="Pais" required autofocus>Guyana</option>
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais17" class="form-control" placeholder="Pais" required autofocus>Surinam</option>
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais18" class="form-control" placeholder="Pais" required autofocus>Guayana Francesa</option>
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais19" class="form-control" placeholder="Pais" required autofocus>Paraguay</option>
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais20" class="form-control" placeholder="Pais" required autofocus>Uruguay</option>
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais21" class="form-control" placeholder="Pais" required autofocus>Chile</option>
                          <option> <input type="text" [(ngModel)]="user.paisu" name="pais22" class="form-control" placeholder="Pais" required autofocus>Argentina</option>
                          
                        </select>
                      </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.passwordu" name="password" class="form-control" placeholder="Password" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.confpasswordu" name="confpassword" class="form-control" placeholder="Confirmar Password" required autofocus>
                    </div>
                    <button class="btn btn-primary btn-block">
                        Sign Up
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


