

<div class="row" >
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                Sign In 
            </div>

            
          <!-- <img src="/home/mario/Escritorio/usuario.jpg" class="img-fluid" alt="Responsive image"> -->
            

            <div class="card-body">
                <form >
                    <div class="form-group">
                        <input type="text" name="correo" class="form-control" placeholder="Email" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password"  name="contrasena" class="form-control" placeholder="Password" required autofocus>
                    </div>
                    
                    <button class="btn btn-primary btn-block">
                        Sign In
                    </button>

                    <div class="card-footer">
                        <div class="card-header text-center">Recuperar Password </div>

                        <div class="form-group">
                            <input type="text" name="correo2" class="form-control" placeholder="Email" required autofocus>
                        </div>

                        <button class="btn btn-primary btn-block">
                            Recuperar Password
                        </button>
                            
                    </div>


                    

                </form>
            </div>
        </div>
    </div>
</div>
