



<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container">
  
  
    <!--
        <a class="nav-link text-white" routerLink="/" routerLinkActive="active">Perfil</a>
    
        <a class="nav-link text-white" routerLink="/producto" routerLinkActive="active">Productos</a>
    
        <a class="nav-link text-white" routerLink="/" routerLinkActive="active">Carrito</a>
     
    -->    
    
  
  
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
       
        
       <!-- <li class="nav-item">
            <a class="nav-link " routerLink="/signup" routerLinkActive="active">Sign-Out</a>
        </li> -->
        <button class="btn btn-secondary" (click)="cerrar_sesion()" >Cerrar Sesion</button>
        
      </ul>
     
    </div>
  
  </div>
  </nav>


 
  
  

  <div class="container p-3">
    <div class="card">
        <h5 class="card-header">PERFIL</h5>
        <div class="card-body">
          
          <form >
            <div class="form-row" *ngFor="let usu of Usuarios">
              <div class="form-group col-md-6">
                <h6>{{usu.NOMBRE}}</h6>
                <input value={{usu.NOMBRE}} type="text" [(ngModel)]="user.nombreu" name="nombre" class="form-control" placeholder="Nombre" required autofocus>
              </div>
              <div class="form-group col-md-6">
                <h6>{{usu.APELLIDO}}</h6>
                <input type="text" [(ngModel)]="user.apellidou" name="apellido" class="form-control" placeholder="Apellido" required autofocus>
              </div>
              <div class="form-group col-md-6">
                <h6>{{usu.PAIS}}</h6>
                <input type="text" [(ngModel)]="user.paisu" name="pais" class="form-control" placeholder="Pais" required autofocus>
              </div>
              <div class="form-group col-md-6">
                <h6>{{usu.CORREO}}</h6>
                <input type="text" [(ngModel)]="user.email" name="emial" class="form-control" placeholder="Email" required autofocus>
              </div>
              <div class="form-group col-md-6">
                <h6>{{usu.CONTRASENA}}</h6>
                <input type="text" [(ngModel)]="user.passwordu" name="password" class="form-control" placeholder="Password" required autofocus>
              </div>
              <div class="form-group col-md-6">
                <h6>{{usu.CCONTRASENA}}</h6>
                <input type="text" [(ngModel)]="user.confpasswordu" name="confpassword" class="form-control" placeholder="Conf. Password" required autofocus>
              </div>
              <div class="form-group col-md-6">
                <h6>{{usu.FECHANACIMIENTO}}</h6>
                <input type="text" [(ngModel)]="user.nacimientou" name="nacimiento" class="form-control" placeholder="Fecha Nacimiento" required autofocus>
              </div>
              <div class="form-group col-md-6">
                <h6>{{usu.CREDITO}}</h6>
                <input type="text" [(ngModel)]="user.credito" name="credito" class="form-control" placeholder="Credito" required autofocus>
              </div>


              <div class="form-group col-md-6 text-center">
               
                <button class="btn btn-primary text-align-center mr-3"  type="submit" (click)="colocar_datos(usu.IDCLIENTE,usu.NOMBRE,usu.APELLIDO,usu.CORREO,usu.CONTRASENA,usu.CCONTRASENA,usu.FECHA,usu.PAIS,usu.CREDITO,usu.FOTOGRAFIA,usu.TIPOUSUARIO)">Colocar Datos</button>  
              </div> 
               
              <div class="form-group col-md-6 text-center">
               <button class="btn btn-primary text-align-center"  type="submit" (click)="updateusuario()" >Actualizar Datos</button> 
                  
              </div> 


            </div>


          </form>

          

        </div>
    </div>
    </div>

    <div class="container p-3">
      <div class="card" >
        <h5 class="card-header">PUBLICAR PRODUCTO</h5>
        <div class="card-body " >

          <app-producto></app-producto>  <!--Se va a mostrar las categorias-->

        </div>
      </div>
    </div>

      
     

  


  