


    <div class="container p-3">
    <div class="card">
        <h5 class="card-header">USUARIOS</h5>
        <div class="card-body">
          
            <app-getuser></app-getuser> <!--Se va a mostrar la tabla de usuarios-->

        </div>
    </div>
    </div>

    <div class="container p-3">
      <div class="card" >
        <h5 class="card-header">CATEGORIA</h5>
        <div class="card-body " style="text-align:center;">

          <app-categoria></app-categoria>  <!--Se va a mostrar las categorias-->

        </div>
      </div>
    </div>

      <div class="container p-3">
      <div class="card ">
        <h5 class="card-header">DENUNCUAS</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

      <div class="container p-3">
      <div class="card ">
        <h5 class="card-header">REPORTES</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

